In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = ('http://www.fao.org/countryprofiles/iso3list/en/')
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [4]:
# Getting the title of the page
title = soup.title
print(title)

<title>Country codes/names | FAO | Food and Agriculture Organization of the United Nations</title>

In [5]:
content = soup.find(id="c460959")

In [6]:
# content

In [7]:
headers = content.find_all('th')
headers

[<th>Short name</th>,
 <th>Official name</th>,
 <th>ISO3</th>,
 <th>ISO2</th>,
 <th>UNI</th>,
 <th>UNDP</th>,
 <th>FAOSTAT</th>,
 <th>GAUL</th>]

In [8]:
shortName = content.find_all('a')

In [9]:
shortName[:10]

[<a href="http://www.fao.org/countryprofiles/index/en/?iso3=AFG" target="_self">Afghanistan</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ALB" target="_self">Albania</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=DZA" target="_self">Algeria</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AND" target="_self">Andorra</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AGO" target="_self">Angola</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ATG" target="_self">Antigua and Barbuda</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ARG" target="_self">Argentina</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ARM" target="_self">Armenia</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AUS" target="_self">Australia</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AUT" target="_self">Austria</a>]

In [10]:
type(shortName[0])

bs4.element.Tag

In [11]:
countries = []
for line in shortName:
    country = line.get_text()
    countries.append(country)
print(countries[:10])

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria']

In [12]:
officialName = content.find_all(class_="official")

In [13]:
officialName[:10]

[<td class="official" id="countryNameLabelAFG">the Islamic Republic of Afghanistan</td>,
 <td class="official" id="countryNameLabelALB">the Republic of Albania</td>,
 <td class="official" id="countryNameLabelDZA">the People's Democratic Republic of Algeria</td>,
 <td class="official" id="countryNameLabelAND">the Principality of Andorra</td>,
 <td class="official" id="countryNameLabelAGO">the Republic of Angola</td>,
 <td class="official" id="countryNameLabelATG">Antigua and Barbuda</td>,
 <td class="official" id="countryNameLabelARG">the Argentine Republic</td>,
 <td class="official" id="countryNameLabelARM">the Republic of Armenia</td>,
 <td class="official" id="countryNameLabelAUS">Australia</td>,
 <td class="official" id="countryNameLabelAUT">the Republic of Austria</td>]

In [14]:
type(officialName[-1])

bs4.element.Tag

In [15]:
OfficialNames = []
for line in officialName:
    nation = line.get_text()
    OfficialNames.append(nation)

In [16]:
print(OfficialNames[:10])

['the Islamic Republic of Afghanistan', 'the Republic of Albania', "the People's Democratic Republic of Algeria", 'the Principality of Andorra', 'the Republic of Angola', 'Antigua and Barbuda', 'the Argentine Republic', 'the Republic of Armenia', 'Australia', 'the Republic of Austria']

In [17]:
iso3 = content.find_all(class_="iso3")

In [18]:
iso3[0]

In [19]:
ISO3 = []
for line in iso3:
    i = line.get_text()
    ISO3.append(i)

In [20]:
ISO3[:10]

['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT']

In [21]:
iso = content.find_all(class_='iso2')

In [22]:
ISO2 = []
for line in iso3:
    i = line.get_text()
    ISO2.append(i)

In [23]:
ISO2[:10]

['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT']

In [24]:
uni = content.find_all(class_="uni")

In [25]:
uni[:10]

[<td class="uni" id="unLabelAFG">4</td>,
 <td class="uni" id="unLabelALB">8</td>,
 <td class="uni" id="unLabelDZA">12</td>,
 <td class="uni" id="unLabelAND">20</td>,
 <td class="uni" id="unLabelAGO">24</td>,
 <td class="uni" id="unLabelATG">28</td>,
 <td class="uni" id="unLabelARG">32</td>,
 <td class="uni" id="unLabelARM">51</td>,
 <td class="uni" id="unLabelAUS">36</td>,
 <td class="uni" id="unLabelAUT">40</td>]

In [26]:
UNI = []
for line in uni:
    i = line.get_text()
    UNI.append(i)

In [27]:
UNI[:10]

['4', '8', '12', '20', '24', '28', '32', '51', '36', '40']

In [28]:
undp = content.find_all(class_="undp")

In [29]:
undp[:10]

[<td class="undp" id="undpLabelAFG">AFG</td>,
 <td class="undp" id="undpLabelALB">ALB</td>,
 <td class="undp" id="undpLabelDZA">DZA</td>,
 <td class="undp" id="undpLabelAND">AND</td>,
 <td class="undp" id="undpLabelAGO">AGO</td>,
 <td class="undp" id="undpLabelATG">ATG</td>,
 <td class="undp" id="undpLabelARG">ARG</td>,
 <td class="undp" id="undpLabelARM">ARM</td>,
 <td class="undp" id="undpLabelAUS">AUS</td>,
 <td class="undp" id="undpLabelAUT">AUT</td>]

In [30]:
UNDP = []
for line in undp:
    i = line.get_text()
    UNDP.append(i)

In [31]:
UNDP[:10]

['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT']

In [32]:
faostat = content.find_all(class_="faostat")

In [33]:
FAOSTAT = []
for line in faostat:
    i = line.get_text()
    FAOSTAT.append(i)

In [34]:
FAOSTAT[:10]

['2', '3', '4', '6', '7', '8', '9', '1', '10', '11']

In [35]:
gaul = content.find_all(class_="gaul")

In [36]:
GAUL = []
for line in gaul:
    i = line.get_text()
    GAUL.append(i)

In [37]:
GAUL[:10]

['1', '3', '4', '7', '8', '11', '12', '13', '17', '18']

In [38]:
#  [OfficialNames, ISO3, ISO2, UNI, UNDP,FAOSTAT, GAUL]

In [39]:
lists_ = [[countries, OfficialNames, ISO3, ISO2, UNI, UNDP,FAOSTAT, GAUL]]

In [40]:
# u = pd.concat(lists_)

In [41]:
framesList = []
for value in lists_:
    df = pd.DataFrame(value)
    framesList.append(df)

In [42]:
# framesList

In [43]:
df = pd.concat(framesList)

In [44]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,186,187,188,189,190,191,192,193,194,195
0,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
1,the Islamic Republic of Afghanistan,the Republic of Albania,the People's Democratic Republic of Algeria,the Principality of Andorra,the Republic of Angola,Antigua and Barbuda,the Argentine Republic,the Republic of Armenia,Australia,the Republic of Austria,...,the United Republic of Tanzania,the United States of America,the Eastern Republic of Uruguay,the Republic of Uzbekistan,the Republic of Vanuatu,the Bolivarian Republic of Venezuela,the Socialist Republic of Viet Nam,the Republic of Yemen,the Republic of Zambia,the Republic of Zimbabwe
2,AFG,ALB,DZA,AND,AGO,ATG,ARG,ARM,AUS,AUT,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
3,AFG,ALB,DZA,AND,AGO,ATG,ARG,ARM,AUS,AUT,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
4,4,8,12,20,24,28,32,51,36,40,...,834,840,858,860,548,862,704,887,894,716

In [45]:
len(df)

8

In [46]:
df = df.transpose()

In [47]:
df.head()

,0,1,2,3,4,5,6,7
0,Afghanistan,the Islamic Republic of Afghanistan,AFG,AFG,4,AFG,2,1
1,Albania,the Republic of Albania,ALB,ALB,8,ALB,3,3
2,Algeria,the People's Democratic Republic of Algeria,DZA,DZA,12,DZA,4,4
3,Andorra,the Principality of Andorra,AND,AND,20,AND,6,7
4,Angola,the Republic of Angola,AGO,AGO,24,AGO,7,8

In [48]:
df.columns = ['Short Name', 'Official name', 'ISO3', 'ISO2', 'UNI','UNDP', 'FAOSTAT', 'GAUL']

In [49]:
df.head()

,Short Name,Official name,ISO3,ISO2,UNI,UNDP,FAOSTAT,GAUL
0,Afghanistan,the Islamic Republic of Afghanistan,AFG,AFG,4,AFG,2,1
1,Albania,the Republic of Albania,ALB,ALB,8,ALB,3,3
2,Algeria,the People's Democratic Republic of Algeria,DZA,DZA,12,DZA,4,4
3,Andorra,the Principality of Andorra,AND,AND,20,AND,6,7
4,Angola,the Republic of Angola,AGO,AGO,24,AGO,7,8

In [50]:
df

,Short Name,Official name,ISO3,ISO2,UNI,UNDP,FAOSTAT,GAUL
0,Afghanistan,the Islamic Republic of Afghanistan,AFG,AFG,4,AFG,2,1
1,Albania,the Republic of Albania,ALB,ALB,8,ALB,3,3
2,Algeria,the People's Democratic Republic of Algeria,DZA,DZA,12,DZA,4,4
3,Andorra,the Principality of Andorra,AND,AND,20,AND,6,7
4,Angola,the Republic of Angola,AGO,AGO,24,AGO,7,8
5,Antigua and Barbuda,Antigua and Barbuda,ATG,ATG,28,ATG,8,11
6,Argentina,the Argentine Republic,ARG,ARG,32,ARG,9,12
7,Armenia,the Republic of Armenia,ARM,ARM,51,ARM,1,13
8,Australia,Australia,AUS,AUS,36,AUS,10,17
9,Austria,the Republic of Austria,AUT,AUT,40,AUT,11,18
10,Azerbaijan,the Republic of Azerbaijan,AZE,AZE,31,AZE,52,19
11,Bahamas,the Commonwealth of the Bahamas,BHS,BHS,44,BHS,12,20
12,Bahrain,the Kingdom of Bahrain,BHR,BHR,48,BHR,13,21
13,Bangladesh,the People's Republic of Bangladesh,BGD,BGD,50,BGD,16,23
14,Barbados,Barbados,BRB,BRB,52,BRB,14,24
15,Belarus,the Republic of Belarus,BLR,BLR,112,BLR,57,26
16,Belgium,the Kingdom of Belgium,BEL,BEL,56,BEL,255,27
17,Belize,Belize,BLZ,BLZ,84,BLZ,23,28
18,Benin,the Republic of Benin,BEN,BEN,204,BEN,53,29
19,Bhutan,the Kingdom of Bhutan,BTN,BTN,64,BTN,18,31
20,Bolivia (Plurinational State of),the Plurinational State of Bolivia,BOL,BOL,68,BOL,19,33
21,Bosnia and Herzegovina,Bosnia and Herzegovina,BIH,BIH,70,BIH,80,34
22,Botswana,the Republic of Botswana,BWA,BWA,72,BWA,20,35
23,Brazil,the Federative Republic of Brazil,BRA,BRA,76,BRA,21,37
24,Brunei Darussalam,Brunei Darussalam,BRN,BRN,96,BRN,26,40
25,Bulgaria,the Republic of Bulgaria,BGR,BGR,100,BGR,27,41
26,Burkina Faso,Burkina Faso,BFA,BFA,854,BFA,233,42
27,Burundi,the Republic of Burundi,BDI,BDI,108,BDI,29,43
28,Cabo Verde,Republic of Cabo Verde,CPV,CPV,132,CPV,35,47
29,Cambodia,the Kingdom of Cambodia,KHM,KHM,116,KHM,115,44
...,...,...,...,...,...,...,...,...
166,Sudan,the Republic of the Sudan,SDN,SDN,736,SDN,276,40764
167,Suriname,the Republic of Suriname,SUR,SUR,740,SUR,207,233
168,Sweden,the Kingdom of Sweden,SWE,SWE,752,SWE,210,236
169,Switzerland,the Swiss Confederation,CHE,CHE,756,CHE,211,237
170,Syrian Arab Republic,the Syrian Arab Republic,SYR,SYR,760,SYR,212,238
171,Tajikistan,the Republic of Tajikistan,TJK,TJK,762,TJK,208,239
172,Thailand,the Kingdom of Thailand,THA,THA,764,THA,216,240
173,Timor-Leste,the Democratic Republic of Timor-Leste,TLS,TLS,626,TLS,176,242
174,Togo,the Togolese Republic,TGO,TGO,768,TGO,217,243
175,Tokelau,Tokelau,TKL,TKL,772,TKL,218,244
176,Tonga,the Kingdom of Tonga,TON,TON,776,TON,219,245
177,Trinidad and Tobago,the Republic of Trinidad and Tobago,TTO,TTO,780,TTO,220,246
178,Tunisia,the Republic of Tunisia,TUN,TUN,788,TUN,222,248
179,Turkey,the Republic of Turkey,TUR,TUR,792,TUR,223,249
180,Turkmenistan,Turkmenistan,TKM,TKM,795,TKM,213,250
181,Tuvalu,Tuvalu,TUV,TUV,798,TUV,227,252
182,Uganda,the Republic of Uganda,UGA,UGA,800,UGA,226,253
183,Ukraine,Ukraine,UKR,UKR,804,UKR,230,254
184,United Arab Emirates,the United Arab Emirates,ARE,ARE,784,ARE,225,255
185,United Kingdom of Great Britain and Northern I...,the United Kingdom of Great Britain and Northe...,GBR,GBR,826,GBR,229,256
186,United Republic of Tanzania,the United Republic of Tanzania,TZA,TZA,834,TZA,215,257
187,United States of America,the United States of America,USA,USA,840,USA,231,259
188,Uruguay,the Eastern Republic of Uruguay,URY,URY,858,URY,234,260
189,Uzbekistan,the Republic of Uzbekistan,UZB,UZB,860,UZB,235,261
190,Vanuatu,the Republic of Vanuatu,VUT,VUT,548,VUT,155,262
191,Venezuela (Bolivarian Republic of),the Bolivarian Republic of Venezuela,VEN,VEN,862,VEN,236,263
192,Viet Nam,the Socialist Republic of Viet Nam,VNM,VNM,704,VNM,237,264
193,Yemen,the Republic of Yemen,YEM,YEM,887,YEM,249,269
194,Zambia,the Republic of Zambia,ZMB,ZMB,894,ZMB,251,270
195,Zimbabwe,the Republic of Zimbabwe,ZWE,ZWE,716,ZWE,181,271