In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = ('http://www.fao.org/countryprofiles/iso3list/en/')
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [4]:
# Getting the title of the page
title = soup.title
print(title)

<title>Country codes/namesÂ | FAO | Food and Agriculture Organization of the United Nations</title>

In [5]:
content = soup.find(id="c460959")

In [6]:
# content

In [7]:
headers = content.find_all('th')
headers

[<th>Short name</th>,
 <th>Official name</th>,
 <th>ISO3</th>,
 <th>ISO2</th>,
 <th>UNI</th>,
 <th>UNDP</th>,
 <th>FAOSTAT</th>,
 <th>GAUL</th>]

In [8]:
content.find_all(class_="shortname")[:5]

[<td class="shortname" id="divcountryAFG">
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AFG" target="_self">Afghanistan</a>
 </td>, <td class="shortname" id="divcountryALB">
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ALB" target="_self">Albania</a>
 </td>, <td class="shortname" id="divcountryDZA">
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=DZA" target="_self">Algeria</a>
 </td>, <td class="shortname" id="divcountryAND">
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AND" target="_self">Andorra</a>
 </td>, <td class="shortname" id="divcountryAGO">
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AGO" target="_self">Angola</a>
 </td>]

In [9]:
shortName = content.find_all('a')

In [10]:
shortName[:10]

[<a href="http://www.fao.org/countryprofiles/index/en/?iso3=AFG" target="_self">Afghanistan</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ALB" target="_self">Albania</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=DZA" target="_self">Algeria</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AND" target="_self">Andorra</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AGO" target="_self">Angola</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ATG" target="_self">Antigua and Barbuda</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ARG" target="_self">Argentina</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=ARM" target="_self">Armenia</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AUS" target="_self">Australia</a>,
 <a href="http://www.fao.org/countryprofiles/index/en/?iso3=AUT" target="_self">Austria</a>]

In [11]:
type(shortName[0])

bs4.element.Tag

In [12]:
def tagFunction(tagLines): 
    textList = []
    for line in tagLines:
        text = line.get_text()
        textList.append(text)
    return textList

In [13]:
shortName = tagFunction(shortName)
print(shortName[:10])

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria']

In [14]:
officialName = content.find_all(class_="official")

In [15]:
officialName[:10]

[<td class="official" id="countryNameLabelAFG">the Islamic Republic of Afghanistan</td>,
 <td class="official" id="countryNameLabelALB">the Republic of Albania</td>,
 <td class="official" id="countryNameLabelDZA">the People's Democratic Republic of Algeria</td>,
 <td class="official" id="countryNameLabelAND">the Principality of Andorra</td>,
 <td class="official" id="countryNameLabelAGO">the Republic of Angola</td>,
 <td class="official" id="countryNameLabelATG">Antigua and Barbuda</td>,
 <td class="official" id="countryNameLabelARG">the Argentine Republic</td>,
 <td class="official" id="countryNameLabelARM">the Republic of Armenia</td>,
 <td class="official" id="countryNameLabelAUS">Australia</td>,
 <td class="official" id="countryNameLabelAUT">the Republic of Austria</td>]

In [16]:
officialName = tagFunction(officialName)
print(officialName[:10])

['the Islamic Republic of Afghanistan', 'the Republic of Albania', "the People's Democratic Republic of Algeria", 'the Principality of Andorra', 'the Republic of Angola', 'Antigua and Barbuda', 'the Argentine Republic', 'the Republic of Armenia', 'Australia', 'the Republic of Austria']

In [17]:
iso3 = content.find_all(class_="iso3")

In [18]:
iso3 = tagFunction(iso3)
print(iso3[:10])

['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT']

In [19]:
iso2 = content.find_all(class_='iso2')

In [20]:
iso2 = tagFunction(iso2)
print(iso2[:10])

['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT']

In [21]:
uni = content.find_all(class_="uni")

In [22]:
uni = tagFunction(uni)
print(uni[:10])

['4', '8', '12', '20', '24', '28', '32', '51', '36', '40']

In [23]:
undp = content.find_all(class_="undp")

In [24]:
undp = tagFunction(undp[:10])
print(undp[:10])

['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT']

In [25]:
faostat = content.find_all(class_="faostat")

In [26]:
faostat = tagFunction(faostat[:10])
print(faostat[:10])

['2', '3', '4', '6', '7', '8', '9', '1', '10', '11']

In [27]:
gaul = content.find_all(class_="gaul")

In [28]:
gaul = tagFunction(gaul[:10])
print(gaul[:10])

['1', '3', '4', '7', '8', '11', '12', '13', '17', '18']

In [29]:
listsContainer = [[shortName, officialName, iso3, iso2, uni, undp, faostat, gaul]]

In [30]:
listsDfs = []
for List in listsContainer:
    df = pd.DataFrame(List)
    listsDfs.append(df)

In [31]:
df = pd.concat(listsDfs)

In [32]:
df

,0,1,2,3,4,5,6,7,8,9,...,186,187,188,189,190,191,192,193,194,195
0,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
1,the Islamic Republic of Afghanistan,the Republic of Albania,the People's Democratic Republic of Algeria,the Principality of Andorra,the Republic of Angola,Antigua and Barbuda,the Argentine Republic,the Republic of Armenia,Australia,the Republic of Austria,...,the United Republic of Tanzania,the United States of America,the Eastern Republic of Uruguay,the Republic of Uzbekistan,the Republic of Vanuatu,the Bolivarian Republic of Venezuela,the Socialist Republic of Viet Nam,the Republic of Yemen,the Republic of Zambia,the Republic of Zimbabwe
2,AFG,ALB,DZA,AND,AGO,ATG,ARG,ARM,AUS,AUT,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
3,AF,AL,DZ,AD,AO,AG,AR,AM,AU,AT,...,TZ,US,UY,UZ,VU,VE,VN,YE,ZM,ZW
4,4,8,12,20,24,28,32,51,36,40,...,834,840,858,860,548,862,704,887,894,716
5,AFG,ALB,DZA,AND,AGO,ATG,ARG,ARM,AUS,AUT,...,None,None,None,None,None,None,None,None,None,None
6,2,3,4,6,7,8,9,1,10,11,...,None,None,None,None,None,None,None,None,None,None
7,1,3,4,7,8,11,12,13,17,18,...,None,None,None,None,None,None,None,None,None,None

In [33]:
df = df.transpose()

In [34]:
df.head()

,0,1,2,3,4,5,6,7
0,Afghanistan,the Islamic Republic of Afghanistan,AFG,AF,4,AFG,2,1
1,Albania,the Republic of Albania,ALB,AL,8,ALB,3,3
2,Algeria,the People's Democratic Republic of Algeria,DZA,DZ,12,DZA,4,4
3,Andorra,the Principality of Andorra,AND,AD,20,AND,6,7
4,Angola,the Republic of Angola,AGO,AO,24,AGO,7,8

In [35]:
# Naming the columns
df.columns = ['Short name', 'Official Name', 'ISO3', 'ISO3', 'UNI', 'UNDP','FAOSTAT', 'GAUL']

In [36]:
df.head()

,Short name,Official Name,ISO3,ISO3,UNI,UNDP,FAOSTAT,GAUL
0,Afghanistan,the Islamic Republic of Afghanistan,AFG,AF,4,AFG,2,1
1,Albania,the Republic of Albania,ALB,AL,8,ALB,3,3
2,Algeria,the People's Democratic Republic of Algeria,DZA,DZ,12,DZA,4,4
3,Andorra,the Principality of Andorra,AND,AD,20,AND,6,7
4,Angola,the Republic of Angola,AGO,AO,24,AGO,7,8